{% extends 'adminpages/adminbase.html' %}

{% block title %} Admin Product Add {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <hr><h3>Admin Create Product</h3>
            <hr>
            <form action="{% url 'EShop:adminproductcreate' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-success">Add Product</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}