{% extends 'base.html' %}

{% block title %}
ALL Products
{% endblock %}

{% block body %}
<div class="container">
    <h3>
        All Products
    </h3>
    <hr>
    {% for category in allcategories %}
    <h3>{{category.title}}</h3><hr>
    <div class="row">
        {% for p in category.product_set.all %}
            <div class="col-md-4">
                <div class="m-4">
                <h3><a href="{% url 'EShop:productdetail' p.slug %}">{{p.title|truncatewords:5}}</h3>
                <img src="{{ p.image.url }}" style="height: 200px; width: 150px;" alt="">
                <p>Price: <strike>Rs. {{p.marked_price}} </strike> Rs. {{p.selling_price}} </p></a>
                <a href="{% url 'EShop:addtocart' p.id  %}" class="btn btn-primary">Add To Cart</a>
                </div>
            </div>
            {% endfor %}


    </div>
    {% endfor %}
</div>
{% endblock %}