{% extends 'base.html' %}

{% block title %}MyCart{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row">
        <div class="mx-auto col-md-8">
            <ul class="billing p0">
                <li class="billing-detail">
                    <h4>Items in my cart</h4>
                </li>
                <li class="cart-update"><a style="color: tomato;" href="{% url 'EShop:emptycart' %}">Trash Cart</a></li>
            </ul>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Image</th>
                        <th>Products</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                            <td>{{forloop.counter}}</td>
                            <td>
                                <img class="img-fluid" src="{{cp.product.image.url}}" style="height: 100px; object-fit: contain;" alt="">
                            </td>
                            <td>{{cp.product.title}}</td>
                            <td>{{cp.rate}}</td>
                            <td>{{cp.quantity }}</td>
                            <td>{{cp.subtotal}}</td>
                            <td><div class="text-center">
                                <a href="{% url 'EShop:managecart' cp.id %}?action=dcr">
                                    <span class="btn btn-warning dcr">-</span>
                                </a><br>
                                
                                <a href="{% url 'EShop:managecart' cp.id %}?action=inc">
                                    <span class="inc btn btn-success">+</span>
                                </a><br>
                                <a href="{% url 'EShop:managecart' cp.id %}?action=rmv">
                                    <span class="rmv btn btn-danger">*</span>
                                </a>
                            </div>
                            </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% if cart.cartproduct_set.all %}
            <h4>Total RS. {{cart.total}} 
            <a class="ml-5" href="{% url 'EShop:checkout' %}"><button class="btn btn-lg">Go to Checkout</button></a>
            </h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}