{% extends 'base.html' %}

{% block title %} {{productdetail.title}}{% endblock %}

{% block body %}
    <div class="">
        <!-- <h3 class="my-3">{{productdetail.title}} </h3><hr> -->
        <div class="row">
            <div class="col-md-6 product-image">
                <img src="{{productdetail.image.url }}"  class="img-fluid" alt="">
                <div class="row">
                    {% for pi in productdetail.productimage_set.all %}
                    <div class="col-md-6 product-image">
                        <img class="image-fluid" height="450px" width="350px" src="{{ pi.image.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="mt20">{{ productdetail.category}} </h4>
                <h4 class="fw400">{{ productdetail.title}} (viewed {{productdetail.view_count}})</h4>
                <hr>
                <h5 class="price">RS. {{ productdetail.selling_price}} <strike> RS. {{ productdetail.marked_price}}</strike> </h5>
                <div class="green-text">
                    inclusive of all taxes
                </div>
                <button class="btn btn-lg">
                <a href="{% url 'EShop:addtocart' productdetail.id  %}">ADD TO CART</a>
                </button>
                <hr>

                <h4 class="fw400">WARRANTY: {{productdetail.warranty}} </h4>
                <h4 class="fw400">RETURN POLICY: {{productdetail.return_policy}} </h4>
                <br>
                <h4 class="mb20">Product Details</h4>
                <h4 class="fw300 lh mr-4">
                    {{productdetail.description}}
                </h4>
            </div>
        </div>
        
    </div>


{% endblock %}